In [8]:
import pandas as pd
data = [1, 2, 3, 4, 5]
index = ["Linha" + str(i) for i in range (5)]
s = pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

# DataFrame

In [16]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ["Linha" + str(i) for i in range(3)]
columns = ["Colunas" + str(i) for i in range(3)]
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Colunas0  Colunas1  Colunas2
Linha0         1         2         3
Linha1         4         5         6
Linha2         7         8         9